<h1>Login</h1>
<%= form_with url: '/login' do |f| %>
    <%= f.label :email %>
    <%= f.email_field :email %><br><br>
    <%= f.label :password %>
    <%= f.password_field :password %><br><br>
    <%= f.submit "Login" %>
<% end %>
<br>
<br>
<%= button_to "Login with Google", '/auth/google_oauth2'  %>