<% if @entry.errors.any? %>
    <div id="error_explanation">
    <h2> <%= pluralize(@entry.errors.count, "error") %> prohibited entry from being saved: </h2>
    <ul>
        <% @entry.errors.full_messages.each do |msg| %> 
            <li><%= msg %></li>
        <% end %>
    </ul>
    </div>
<% end %>

<%= form_for @entry do |f| %>
    <%= f.label :date %>: 
    <%= f.date_field :date %><br><br>
    <%= f.label :end_of_day_mood, "End of Day Mood" %>: 
    <%= f.select :end_of_day_mood, ["Elated", "Great", "Loved", "Happy", "Good", "Relaxed", "Hopeful", "Indifferent", "Sick", "Anxious", "Sad", "Bad", "Scared", "Lonely", "Disappointed"], prompt: "Select Mood" %><br><br>
    <%= f.submit %>
<% end %>