<h1><%= link_to @entry.user.name, user_path(@entry.user) %> </h1>
<h1>Entry for <%= @entry.date %></h1>
<h2>Mood at End of the Day: <%= @entry.end_of_day_mood %></h2>
<ul>
    <% @entry.entry_provisions.each do |ep| %>
        <li><%= link_to ep.provision.name, provision_path(ep.provision) %> (<%= ep.provision.provision_type %>)<br>
        <%= ep.amount %> <%= ep.unit %><br>
        Homemade: <%= ep.homemade %><br>
        <%= ep.description %></li> 
    <% end %>        
</ul>