<h1><%= @entry.short_date %> Entry</h1>
<h3><%= link_to @entry.user.name, user_path(@entry.user) %></h3>
<h3>Mood at End of the Day: <%= @entry.end_of_day_mood %></h3> 
<%= display_edit_mood_link(@entry) %><br>
<br>
<%= display_new_entry_provision_link(@entry) %>
<br><%= display_cal_details_link(@entry) %><br><br>
<ul>
    <% @entry.entry_provisions.each do |ep| %>
        <li><%= link_to ep.provision.name, provision_path(ep.provision) %> - <%= ep.amount_and_unit %><br>
        Homemade: <%= ep.homemade ? "Yes" : "No" %><br>
        <%= ep.description %><br>
        <%= render partial: 'ep_edit_delete', locals: {entry: @entry, ep: ep} %></li><br>
    <% end %>        
</ul>

<br>
<%= display_delete_entry_link(@entry) %>