<h1><%= link_to @entry.user.name, user_path(@entry.user) %>'s Entry for <%= @entry.date %></h1>
<h2>Mood at End of the Day: <%= @entry.end_of_day_mood %></h2>
<%= link_to "Edit Mood", edit_entry_path(@entry) %>
<ul>
    <% @entry.entry_provisions.each do |ep| %>
        <li><%= link_to ep.provision.name, provision_path(ep.provision) %> - <%= ep.amount_and_unit %><br>
        Homemade: <%= ep.homemade %><br>
        <%= ep.description %><br>
        <%= link_to "Edit", edit_entry_provision_path(ep) %> | <%= link_to "Delete", entry_provision_path(ep), method: :delete %></li><br>
    <% end %>        
</ul>
<br>

<%= button_to "New Entry Provision", new_entry_provision_path, method: :get %>
