<h1>New Provision</h1>
<% if @entry.errors.any? %>
    <div id="error_explanation">
    <h2> <%= pluralize(@entry.errors.count, "error") %> prohibited entry from being saved: </h2>
    <ul>
        <% @entry.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
    </div>
<% end %>

<%= form_for @provision do |f| %>
    <%= f.label :name %>: 
    <%= f.text_field :name %><br>
    <%= f.label :provision_type, "Provision Type: " %>
    <%= f.select :provision_type, ["Food", "Drink"], prompt: "Select Type" %><br>
    <%= f.label :approx_cals_per_serving, "Approximate Calories per Serving: " %>
    <%= f.number_field :approx_cals_per_serving, min: 0 %><br><br>
    <%= f.submit %>
<% end %>