<h1>New Provision</h1>
<%= form_for @provision do |f| %>
    <%= f.label :name %>: 
    <%= f.text_field :name %><br>
    <%= f.label :provision_type, "Provision Type: " %>
    <%= f.select :provision_type, ["Food", "Drink"], prompt: "Select Type" %><br>
    <%= f.label :approx_cals_per_serving, "Approximate Calories per Serving: " %>
    <%= f.number_field :approx_cals_per_serving, min: 0 %><br><br>
    <%= f.submit %>
<% end %>