<h1>New Provision</h1>
<%= render partial: 'provision_errors', locals: {provision: @provision}  %>

<%= form_for @provision do |f| %>
    <%= f.label :name %><br>
    <%= f.text_field :name %><br><br>
    <%= f.label :provision_type, "Provision Type" %><br>
    <%= f.select :provision_type, ["Food", "Drink"], prompt: "Select Type" %><br><br>
    <%= f.label :approx_cals_per_serving, "Approximate Calories per Serving" %><br>
    <%= f.number_field :approx_cals_per_serving, min: 0 %><br><br>
    <%= f.submit %>
<% end %>