<!DOCTYPE html>
<html>
  <head>
    <title>RailsMoodyFoodie</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <br>
  <%= nav_bar %>
   | <%= link_to("Entries List", entries_path) %>  | <%= link_to("Provisions List", provisions_path) %>
  <% if flash[:message] %>
    <br><br>
    <div class="field_with errors"><%= flash[:message] %></div>
  <% end %>
    <%= yield %>
  </body>
</html>
