<!DOCTYPE html>
<html>
  <head>
    <title>RailsMoodyFoodie</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <br>
  <% if logged_in? %>
    <%= link_to("Home", root_path) %> | <%= link_to("Your Entries", user_path(current_user)) %> | <%= link_to("List of Provisions", provisions_path) %> | <%= link_to("Logout", logout_path, method: :delete) %>
  <% else %>
    <%= link_to("Login", login_path) %> | <%= link_to("Signup", signup_path) %>
  <% end %>
  <% if flash[:message] %>
    <br><br>
    <div class="field_with errors"><%= flash[:message] %></div>
  <% end %>
    <%= yield %>
  </body>
</html>
