<!DOCTYPE html>
<html>
  <head>
    <title>MoodyFoodie</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <br>
    <%= render partial: 'sessions/navigation' %><br><br>
    <div class="field_with_errors"><%= flash[:message] %></div>
    <%= yield %>
  </body>
</html>
